@font-face {
    font-family: myFont;
    src: url("fonts/dpcomic.regular.ttf");
}

body {
    height: 110vh;
    font-family: myFont;
    background-image: url(images/8-Bit-Library-Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* ------------------- Header --------------------- */
/* ------------------------------------------------ */
header {
    font-family: myFont;
    width: 100%;
    height: 18%;
    #background-color: lightgray;
    margin-bottom: 1%;
    position: relative;
    overflow: hidden;
}

#title {
    margin : auto;
    padding-top: 1%;
    text-align: center;
    max-height: 100%;
    max-width: 100%;
}

#title img {
    max-width: 99%;
    max-height: 98%;
}

#title:hover {
    text-decoration: none;
}

.header-option {
    margin: auto;
    color: #b97a57;
    margin-top: 30px;
    font-size: 30px;
    background-color: #09333f;
    border: solid #604428 8px;
    border-radius: 5px;
}

.settings {
    display: none;
}

/* ------------------- Main Content --------------- */
/* ------------------------------------------------ */

#main-content {
    font-family: myFont;
    height: 83%;
    position: relative;
}

.click-blocker {
    position: absolute;
    height: 90%;
    width: 90%;
    margin: auto;
    z-index: 3;
    opacity: .6;
}

/* ------------------- Player Box ----------------- */
/* ------------------------------------------------ */

#player-area {
    color: #b97a57;
    background-color: #09333f;
    text-align: center;
    box-sizing: border-box;
    border: solid #604428 8px;
    border-radius: 24px;
    height: 75vh;
    position: relative;
}

.player-title {
    font-size: 30px;
    margin: 10px;
    margin-bottom: 1vh;
}

.score {
    font-size: 45px;
    padding: 0px;
    margin-bottom: 1vh;
}

.score .label {
    padding: 0px;
}

.score .value {
    margin: 0px;
    padding: 0px;
}

.ability {
    width: 50%;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 2px;
}

.using-ability {
    background-color:#d5c86a;
}

.used-ability {
    color: lightgray;
    background-color: darkgray;
}

.reset {
    position: absolute;
    bottom: 20px;
    left: 30%;
    width: 40%;
    border-radius: 2px;
}

/* ---------------- Game Board Area --------------- */
/* ------------------------------------------------ */

#game-area {
    #background-color: gray;
    height: 80vh;
}

.deckContainer {
    background-color: #09333f;
    border: #604428 solid 5px;
    border-radius: 12px;
    box-sizing: content-box;
    padding: 5px;
    margin: auto;
}

.cardContainer {
    display: inline-block;
    box-sizing: border-box;
    #border: solid black 2px;
    float: left;
    #padding: 10px;
    text-align: center;
}

.card img {
    padding: 10px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.front img {
    border: solid #181510 9px;
    border-radius: 11px;
    margin-top: 10px;
    width: 131px;
    height: 131px;
    background-color: #a1653f;
}

.card {
    float: left;
    display: inline-block;
    margin: 2px;
    #height: 100%;
    #width: 100%;
}

.pointsAnimation {
    margin: auto;
    width: 40%;
    height: 20%;
    color: #b97a57;
    font-size: 35px;
}

.hidden {
    display: none;
}

.back {
    margin: auto;
    #width: 100%;
    #height: 100%;
}

.front {
    margin: auto;
    #width: 100%;
    #height: 100%;
}


/* -------------------- Enemy box ----------------- */
/* ------------------------------------------------ */

#enemy-area {
    color: #b97a57;
    background-color: #09333f;
    text-align: center;
    box-sizing: border-box;
    border: solid #604428 8px;
    border-radius: 24px;
    height: 75vh;
}

#enemy-area img {
    width: 100%;
}

#about-content {
    color: #b97a57;
    background-color: #09333f;
    border: solid #604428 4px;
    border-radius: 12px;
    margin: auto;
    width: 458px;
    padding: 30px;
    font-family: myFont;
}

#about-content img {
    max-width: 150px;
    max-height: 150px;
}

.speech-bubble {
    background-color: #09333f;
    border: solid #604428 5px;
    border-radius: 8px;
    width: 80%;
    font-size: 20px;
    margin: auto;
    padding: 10px;
}

.custom-modal {
    font-size: 1.7vw;
    font-family: myFont;
    color: #b97a57;
    background-color: #09333f;
    border: solid #604428 8px;
    border-radius: 8px;
    margin: -25px 10vw;
    width: 80vw;
    position: absolute;
    z-index: 4;
    padding-bottom: 20px;
}

#intro h1 {
    font-size: 3vw;
}

#intro h2 {
    font-size: 2.5vw;
}

.intro-bottom h2 {
    margin-left: 20px;
}

.custom-modal img {
    position: static;
    width: 23%;
    float: left;
    display: inline-block;
}

.you-lose-screen{
    text-align: center;
    height: 60vh;
    z-index: 1000;
}

.botPoints {
    color: red;
}

#secret-button {
    position: absolute;
    top:0px;
    right: 0px;
    width: 15px;
    height: 15px;
}

#audio-button{
    font-size: 76px;
    color: #b97a57;
    margin-top: 10px;
}


/* -------------- Mobile Responsiveness ----------- */
/* ------------------------------------------------ */

#mobile-container{
    text-align: center;
}

#mobile-area {
    display: none;
    color: #b97a57;
    background-color: #09333f;
    box-sizing: border-box;
    border: solid #604428 5px;
    border-radius: 12px;
    margin-top: 15px;
    box-sizing: border-box;
    width: 70%;
    height: auto;
}

.mobile-info {
    width: 45%;
    display: inline-block;
    height: 30%;
    text-align: center;
}

#mobile-player {
    float: left;
}

#mobile-enemy {
    float: right;
}

#mobile-area .player-title {
    font-size: 20px;
}

#mobile-area .score {
     font-size: 20px;
}

#mobile-area .abilities{
    text-align: center;
}

#resizing-screen {
    color: #b97a57;
    background-color: #09333f;
    box-sizing: border-box;
    border: solid #604428 5px;
    border-radius: 12px;
    margin-left: 15vw;
    height: 70vh;
    width: 70vw;
    text-align: center;
    z-index: 1000;
    position: absolute;
}

#resizing-screen h1 {
    font-size: 30px;
}


@media only screen and (max-height: 700px) {
    #title img{
        max-width: 60%;
    }

    #enemy-area img {
        width: 80%;
    }
    #enemy-area .speech-bubble {
        font-size: 18px;
    }
}

@media only screen and (max-width: 990px) {
    .score .label {
        display: none;
    }

    body{
        height: 120vh;
    }

    #title img {
        max-width: 100%;
        max-height: 98%;
    }

    #title {
        width: 100%;
        height: 100%;
    }

    #game-area{
        height: 50vh;
    }

    #player-area, #enemy-area {
        display: none;
    }

    #mobile-area {
        display: inline-block;
    }

    #mobile-area .value {
        font-size: 27px;
    }

    #enemy-area img, #enemy-area .speech-bubble {
        display: none;
    }

    #intro {
        height: 80vh;
        font-size: 21px;
    }
    #intro li {
        margin-right: 10px;
    }
    #intro .intro-bottom h2 {
        font-size: 31px;
        margin-left: 33px;
        text-decoration: underline;
    }

    .intro-top {
        display: none;
    }

    .card img {
        padding: 5px;
    }

}

@media only screen and (max-width: 700px) and (max-height: 400px) {
    body{
        height: 150vh;
    }
    #intro {
        height: 95vh;
    }
}